body {
    background-color: lightblue;
    font-family: Arial, sans-serif;
    color: #333;
}

h1 {
    font-size: 3em;
}

h3 {
    font-size: 2em;
}

.galeria table {
    width: 100%;
    border-spacing: 10px;
}

.galeria td div{
    text-align: center;
	font-size: 2em;
	color: #333;
	font-weight: bold;
	transition: color 0.3s ease;
}

.galeria img {
    width: 510px;
    height: auto;
    border-radius: 5px;
}

.galeria img:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.galeria td:hover div {
    color: #ff6600;
}